@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

body{
    background-image: url(../img/homebg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-color:rgba(0, 0, 0, 0.863)
}

.homepage-text{
    position:absolute;
    text-align: center;
    line-height: 50px;
    color:bisque;
    margin-top: 50px;
}

.title{
    font-family: tangerine, sans-serif;
    font-size: 20vh;
}
h2{
    font-family: tangerine, sans-serif;
}
.btn{
    margin: 20px 20px;
    background-color: bisque;
    
}
   
}