@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

.logo{
    font-family: tangerine, sans-serif;
    font-size: 60px;
    margin-top: auto;
}

nav{
    background-image: url(../img/bgimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav ul li a:hover {
   color: goldenrod;
   text-decoration: underline;
 }

.text-shadow{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.color_gold{
    background-color: #ffd740;
}

h1{
    font-family: tangerine, sans-serif;
}

.spacing{
    margin: 50px 0;
    
}
.spacing-two{
    margin: 100px 0;
    
}

.center{
    margin: auto;   
}
.stick-bottom{
    position: absolute; 
    bottom: 0px;   
    display: block;
}

.card-size{
    position: relative;
}

.btn-margins{
    margin: 10px 10px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin-right: 0px;
}   

@media only screen and (min-width: 768px) {
    .card-size{
        min-height: 1500px;
    }

    .spacing-two{
        margin: 0px;
        
    }
}

.container{
    min-height:calc(100vh - 296px);
}



/*--------------------------------------------footer*/


#FooterHeading {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 25px;

}

footer p {
    font-family: tangerine, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 0;
    margin: 0;

}

footer {
    text-align: center;
    background-image: url(../img/bgimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px;
    margin-top: 70px;
}