{% extends "base.html" %}
{% block content %}

    <h1 class="center-align">Sign In</h1>

    <div class="row">
        <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('signin') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-cog prefix brown-text text-darken-1"></i>
						<input id="username" name="username" type="text" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required >
						<label for="username">Username</label>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix brown-text text-darken-1"></i>
                        <input id="password" name="password" type="password" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
            
                <!-- Sign In -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large brown darken-1 text-shadow">
                        Sign In <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
            <!-- change between register and signin -->
            <div class="row">
                <div class="col s12">
                    <p class="center-align">
                        You don't have an account?
                        <a href="{{ url_for('register') }}" class="amber accent-1">Register Account</a>
                    </p>
                </div>
            </div>
        
        </form>
    </div>

{% endblock %}